html {
    font-family: sans-serif;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    text-decoration: none; 

    
}


.header {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;

    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    

    

    
}

.header-right {
    position: relative;
    display: block;
    margin-right: auto;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: 1.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    float: right; 
    
}

a {
    text-decoration: none;
    background-color: transparent;
    color:  #2c3e50;
}

#nav-bar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2000;
    background: #fff;
}

.nav-container {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: calc(10vh - 3px);
    padding: 2.5rem;
    border-radius: .25rem!important;
}

.mr-3 {
    margin-right: 1rem!important;
    
}

.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}

.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.rounded {
    border-radius: .25rem!important;
}
.border-secondary {
    border-color: #6c757d!important;
}
.border {
    border: 1px solid #dee2e6!important; 
}

.about {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    width: 100%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-items:center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,transparent 20%,#ccc 25%,transparent 0),linear-gradient(-45deg,transparent 20%,#ccc 25%,transparent 0),linear-gradient(-45deg,transparent 75%,#ccc 80%,transparent 0),radial-gradient(#efe 2px,transparent 0);
    background-size: 18px 18px ;
    margin: 0;
    padding: 0%;
    height: 90vh;
    

}

.details   {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 1% 5%;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    background-image: linear-gradient(45deg,transparent 20%,#ccc 25%,transparent 0),linear-gradient(-45deg,transparent 20%,#ccc 25%,transparent 0),linear-gradient(-45deg,transparent 75%,#ccc 80%,transparent 0),radial-gradient(#efe 2px,transparent 0);
    background-size: 18px 18px,18px 18px;
}

.list-items ul {
    list-style: none;
    color: var(--faint-foot);
    font-size: 1.3rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}



ul {
    list-style: none;
} 
.list-items li:before {
    content: '\2713';
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-weight: 600;
    padding: 0 -20px;
}

.list-items a {
    display: inline-block;
    padding: 3% 6%;
    background-color: #219988;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2%;
}

footer  .socialmedia {
    display: block;
    padding-top: 5px;
}

footer  .socialmedia a {
    padding: 3% 7%;
}

.quicklink a {
    color: #fff;
    font-size: .9rem;
}
}

#second {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.online-education {
    display: -webkit-box;
    display: -ms-flexbox;
    displa: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transform: translatey(0);
    transform: translatey(0);
   -webkit-animation: float-data-v-59817640 6s ease-in-out infinite;
    animation: float-data-v-59817640 6s ease-in-out infinite;
    width: 65%;
    border-style: none;
    
        display: inline-block;
        width: 65%;
    
    
    
    

}


#productive {
  background-color: #E4F9F5; 
  position: relative;
  width: 100%;
  padding: 5%; 
}

#productive h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    background-color: #e4f9f5;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    
}

.free-assess .book, .calendar, .network, .money-bag  {
 height: ;
 background: #fff;
 height: 300px;
 margin: 5%;
 border-radius: 5px;
 padding: 3% 7%;
 -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
 box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}



.details .lecturenote, .lecturetopic, .question, .materials  {
    text-align: centre;
    padding: 8%;
    height: 200px;
    margin: 5px;
    padding: 3% 7%;




}

.details .lecturenote h1 {
    color: #FE7EA4;
    margin: 0px 0px 8px;
    line-height: 1.2;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-size: 3.7rem;
    font-weight: 600;

} 

.details .lecturetopic h1 {
    color: #EBC974;
    margin: 0px 0px 8px;
    line-height: 1.2;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-size: 3.7rem;
    font-weight: 600;

} 

.details .question h1 {
    color: #4E6432;
    margin: 0px 0px 8px;
    line-height: 1.2;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-size: 3.7rem;
    font-weight: 600;

} 

.details .materials h1 {
    color: #219988;
    margin: 0px 0px 8px;
    line-height: 1.2;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-size: 3.7rem;
    font-weight: 600;

} 

.details p {
    color: #14045D;
    margin: 0px 0px 16px;
}

.improve {
    background-color:#E4F9F5 ;
    display: grid;
    
    padding: 6% 8%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 3.5rem;

    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.improvesubmit button{
    background: #219988;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    font-size: .9rem;
    text-align: center;
    display: inline-block;
    border: none;
}

.quicklink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    position: relative;
    width: 100%;
    padding: 3% 4% 1% 4%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: .5rem;
}

footer {
    position: relative;
    width: 100%;
    color: #fff;
    background: linear-gradient(24deg,#40514e,#40514e 50%,#219988);
    text-decoration: none;
}

.copyright {
    text-align: center;
}

.socialmedia {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}















@media only screen and (max-width: 820px){
    .improve {
        font-size: 1.2rem;
    }
    
}

@media only screen and (max-width: 820px){
    .quicklink {

    position: relative;
    width: 100%;
    padding: 3% 4% 1% 4%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .5rem;

    }
}


@media only screen and (max-width: 820px){


.list-items {
    padding: 7% 8% 12%;
     text-align: left;
    line-height:  1.5rem ;
    

}

@media only screen and (max-width: 820px)
{
    .list-items li {
        margin: 1.2rem 0;

         
            display: list-item;
            text-align: -webkit-match-parent;
        
    }
    
}

@media only screen and (max-width: 820px) {
    .list-items ul {
        list-style: none;
        color: var(--faint-font);
        font-size: 1.3rem;
    }
    
    
}

@media only screen and (max-width: 820px){
    #first-class {
        -webkit-box-ordinal-group: 3;
        
        order: 2;
    }
}

@media only screen and (max-width: 820px){
    .about { width: 100%; }

    @media only screen and (max-width: 820px) {
        #second {
            display: none;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }
    }

    @media only screen and (max-width: 820px) {
        .improve {
            padding: 6% 8%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 3.5rem;
            font-size: 1.2rem;
        }
        
    }

    @media only screen and (max-width: 820px) {
        .details {
            
            padding: 5%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 1rem;
            
        }
        
    }

    @media only screen and (max-width: 820px) {
        .nav-container {
            height: auto;
            padding: 1rem;
        }
        
    }







